<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  sessionState的timeout為分鐘
  -->
<configuration>	
	<connectionStrings>
			<add name="db83fd849ccc1043728e8ea46d0036ea0eConnectionString"
			  connectionString="Data Source=83fd849c-cc10-4372-8e8e-a46d0036ea0e.sqlserver.sequelizer.com;Initial Catalog=db83fd849ccc1043728e8ea46d0036ea0e;Persist Security Info=True;User ID=awqrjurseuizpmqf;Password=eginJsqFt6FJuAbnegSr4b3jWQjeZqUkiArvgcUQKhwApgwSVhYCUvscn8y2hkNd"
			  providerName="System.Data.SqlClient" />
		</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
		<sessionState mode="InProc" timeout="90" stateConnectionString="127.0.0.1:80" />
	</system.web>
</configuration>