<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  sessionState的timeout為分鐘
  -->
<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
		<sessionState mode="InProc" timeout="90" stateConnectionString="127.0.0.1:80" />
	</system.web>
</configuration>